/* Gallery container */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Main image styling */
.main-image {
    
    height: 100px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    
}

/* Thumbnails container */
.thumbnails-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Thumbnails wrapper for scrolling */
.thumbnails {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Individual thumbnail styling */
.thumbnails img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.thumbnails img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Navigation arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}
