.container1 {
            margin: 0;
            margin-left: 0; /* Align to the left side */
            width: 20%;
	    line-height: 1.7;
	    font-size: 20px;
	    color:yellow;
	    margin-left: 0%;
	    padding-left: 1%;
	    padding-right: 1%;
	    background-color: blueviolet;
        }
