body {
    background-image :url('image background.webp');
    background-repeat:no repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: cover;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #003d33;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-weight: 500;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #005a47;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover, .active {
    background: rgb(4, 145, 37);
    color: white;
    border-radius: 5px;
}


main section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    background: rgb(11, 82, 8);
    color: white;
    padding: 10;
}
li a{
    padding: 10px;
    color: azure;
    text-decoration: none;

}
.active{
    background-color:  rgb(4, 145, 37);
}
li a:hover{
    background-color:rgb(4, 145, 37);
}

